@model Litium.Accelerator.ViewModels.MyPages.OrderHistoryPanelViewModel
@using Litium.Web;

<div>
    <iframe src="@(Model.OrderHistoryLink?.Href)" width="100%" height="600" frameBorder="0" ></iframe>
</div>