<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="8.0.0" targetFramework="net472" />
  <package id="AutoMapper.Collection" version="5.0.0" targetFramework="net472" />
  <package id="Castle.Core" version="4.4.0" targetFramework="net472" />
  <package id="Castle.Windsor" version="4.1.1" targetFramework="net472" />
  <package id="Dapper.StrongName" version="1.60.1" targetFramework="net472" />
  <package id="Google.Apis" version="1.40.0" targetFramework="net472" />
  <package id="Google.Apis.Analytics.v3" version="1.40.0.1306" targetFramework="net472" />
  <package id="Google.Apis.Auth" version="1.40.0" targetFramework="net472" />
  <package id="Google.Apis.Auth.Mvc" version="1.40.0" targetFramework="net472" />
  <package id="Google.Apis.Core" version="1.40.0" targetFramework="net472" />
  <package id="Google.Apis.Drive.v3" version="1.40.0.1587" targetFramework="net472" />
  <package id="Google.Apis.Oauth2.v2" version="1.40.0.1532" targetFramework="net472" />
  <package id="GraphiQL" version="1.2.0" targetFramework="net472" />
  <package id="GraphQL" version="2.4.0" targetFramework="net472" />
  <package id="GraphQL-Parser" version="3.0.0" targetFramework="net472" />
  <package id="iTextSharp-LGPL" version="4.1.6" targetFramework="net472" />
  <package id="Klarna.Checkout" version="3.0.0.0" targetFramework="net472" />
  <package id="Klarna.Rest" version="2.2.1.0" targetFramework="net472" />
  <package id="KlarnaAPI" version="3.1.0" targetFramework="net472" />
  <package id="Litium.Abstractions" version="7.2.3" targetFramework="net472" />
  <package id="Litium.AddOns.Klarna" version="4.7.102" targetFramework="net472" />
  <package id="Litium.AddOns.Klarna.Abstractions" version="4.7.102" targetFramework="net472" />
  <package id="Litium.AddOns.Klarna.UI" version="4.7.102" targetFramework="net472" />
  <package id="Litium.Application" version="7.2.3" targetFramework="net472" />
  <package id="Litium.Application.Bootstrapper" version="7.2.3" targetFramework="net472" />
  <package id="Litium.Foundation" version="7.2.3" targetFramework="net472" />
  <package id="Litium.Foundation.GUI" version="7.2.3" targetFramework="net472" />
  <package id="Litium.Framework.Search" version="5.1.2" targetFramework="net472" />
  <package id="Litium.Framework.Search.Indexing" version="5.1.2" targetFramework="net472" />
  <package id="Litium.Framework.Search.Indexing.Lucene" version="5.1.2" targetFramework="net472" />
  <package id="Litium.Framework.Search.Lucene" version="5.1.2" targetFramework="net472" />
  <package id="Litium.Infrastructure.Excel" version="1.0.0" targetFramework="net472" />
  <package id="Litium.Infrastructure.InversionOfControl" version="7.2.3" targetFramework="net472" />
  <package id="Litium.Infrastructure.Logging.NLog" version="7.2.3" targetFramework="net472" />
  <package id="Litium.Infrastructure.Logging.NLog.Extensions" version="7.2.3" targetFramework="net472" />
  <package id="Litium.Infrastructure.Search.Lucene" version="7.2.3" targetFramework="net472" />
  <package id="Litium.Infrastructure.WebLog.Exceptional" version="7.2.3" targetFramework="net472" />
  <package id="Litium.Owin" version="7.2.3" targetFramework="net472" />
  <package id="Litium.Setup.Complete" version="7.2.3" targetFramework="net472" />
  <package id="Litium.Setup.Config" version="7.2.3" targetFramework="net472" />
  <package id="Litium.Setup.Core" version="7.2.3" targetFramework="net472" />
  <package id="Litium.Studio" version="7.2.3" targetFramework="net472" />
  <package id="Litium.Studio.AddOns.Dibs" version="4.7.100" targetFramework="net472" />
  <package id="Litium.Studio.AddOns.Dibs.UI" version="4.7.100" targetFramework="net472" />
  <package id="Litium.Studio.AddOns.Klarna" version="4.7.102" targetFramework="net472" />
  <package id="Litium.Studio.AddOns.Klarna.UI" version="4.7.102" targetFramework="net472" />
  <package id="Litium.Studio.AddOns.PayEx" version="4.0.1" targetFramework="net472" />
  <package id="Litium.Studio.AddOns.PayEx.UI" version="4.0.1" targetFramework="net472" />
  <package id="Litium.Studio.Builders" version="7.2.3" targetFramework="net472" />
  <package id="Litium.Studio.Packages" version="7.2.3" targetFramework="net472" />
  <package id="Litium.Studio.Plugins.ECommerce.PaymentProviders.DirectPay" version="7.2.3" targetFramework="net472" />
  <package id="Litium.Studio.Plugins.ECommerce.PaymentProviders.DirectPay.UI" version="7.2.3" targetFramework="net472" />
  <package id="Litium.Studio.ThirdParty.CKEditor" version="1.0.0" targetFramework="net472" />
  <package id="Litium.Studio.ThirdParty.ComponentArt" version="1.0.0" targetFramework="net472" />
  <package id="Litium.Studio.ThirdParty.CookComputingXmlRpcV2" version="1.0.0" targetFramework="net472" />
  <package id="Litium.Studio.ThirdParty.DotNetZip" version="1.0.0" targetFramework="net472" />
  <package id="Litium.Studio.ThirdParty.NetSpell.SpellChecker" version="1.0.0" targetFramework="net472" />
  <package id="Litium.Studio.ThirdParty.PdfSharp" version="1.0.0" targetFramework="net472" />
  <package id="Litium.Studio.ThirdParty.Telerik" version="2.0.0" targetFramework="net472" />
  <package id="Litium.Studio.UI" version="7.2.3" targetFramework="net472" />
  <package id="Litium.Studio.UI.Resource" version="7.2.3" targetFramework="net472" />
  <package id="Litium.Utilities" version="7.2.3" targetFramework="net472" />
  <package id="Litium.Web.Abstractions" version="7.2.3" targetFramework="net472" />
  <package id="Litium.Web.Administration.Abstractions" version="7.2.3" targetFramework="net472" />
  <package id="Litium.Web.Administration.Application" version="7.2.3" targetFramework="net472" />
  <package id="Litium.Web.Application" version="7.2.3" targetFramework="net472" />
  <package id="Litium.Web.Mvc.Abstractions" version="7.2.3" targetFramework="net472" />
  <package id="Litium.Web.Setup.Complete" version="7.2.3" targetFramework="net472" />
  <package id="Litium.Web.Setup.Core" version="7.2.3" targetFramework="net472" />
  <package id="Litium.Web.Setup.Mvc" version="7.2.3" targetFramework="net472" />
  <package id="Litium.Web.WebApi.Abstractions" version="7.2.3" targetFramework="net472" />
  <package id="Litium.WebControls.GUI" version="7.2.3" targetFramework="net472" />
  <package id="Lucene.Net" version="3.0.3" targetFramework="net472" />
  <package id="MetadataExtractor.StrongName" version="2.0.0" targetFramework="net472" />
  <package id="Microsoft.AspNet.Cors" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.2" targetFramework="net472" />
  <package id="Microsoft.AspNet.Identity.Owin" version="2.2.2" targetFramework="net472" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.SignalR.Core" version="2.4.1" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Antiforgery" version="2.0.1" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Authentication.Abstractions" version="2.0.1" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Authentication.Core" version="2.0.1" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Authorization" version="2.0.1" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Authorization.Policy" version="2.0.1" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Cors" version="2.0.1" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Cryptography.Internal" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Cryptography.KeyDerivation" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.DataProtection" version="2.0.1" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.DataProtection.Abstractions" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Diagnostics.Abstractions" version="2.0.1" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Hosting.Abstractions" version="2.1.1" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Hosting.Server.Abstractions" version="2.1.1" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Html.Abstractions" version="2.0.0" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Http" version="2.0.1" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Http.Abstractions" version="2.1.1" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Http.Extensions" version="2.1.1" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Http.Features" version="2.1.1" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.JsonPatch" version="2.0.0" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Localization" version="2.0.1" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Mvc" version="2.0.1" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Mvc.Abstractions" version="2.0.1" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Mvc.ApiExplorer" version="2.0.1" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Mvc.Core" version="2.0.1" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Mvc.Cors" version="2.0.1" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Mvc.DataAnnotations" version="2.0.1" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Mvc.Formatters.Json" version="2.0.1" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Mvc.Localization" version="2.0.1" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Mvc.Razor" version="2.0.1" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Mvc.Razor.Extensions" version="2.0.1" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Mvc.RazorPages" version="2.0.1" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Mvc.TagHelpers" version="2.0.1" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Mvc.ViewFeatures" version="2.0.1" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Razor" version="2.0.1" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Razor.Language" version="2.0.1" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Razor.Runtime" version="2.0.1" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.ResponseCaching.Abstractions" version="2.0.1" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Routing" version="2.0.1" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Routing.Abstractions" version="2.0.1" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.StaticFiles" version="2.1.1" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.WebUtilities" version="2.0.1" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="1.1.0" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.Common" version="2.3.1" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="2.3.1" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.Razor" version="2.0.1" targetFramework="net472" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.1" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.4.0" targetFramework="net472" />
  <package id="Microsoft.DotNet.PlatformAbstractions" version="2.1.0" targetFramework="net472" />
  <package id="Microsoft.EntityFrameworkCore" version="2.2.4" targetFramework="net472" />
  <package id="Microsoft.EntityFrameworkCore.Abstractions" version="2.2.4" targetFramework="net472" />
  <package id="Microsoft.EntityFrameworkCore.Analyzers" version="2.2.4" targetFramework="net472" />
  <package id="Microsoft.EntityFrameworkCore.Relational" version="2.2.4" targetFramework="net472" />
  <package id="Microsoft.EntityFrameworkCore.SqlServer" version="2.2.4" targetFramework="net472" />
  <package id="Microsoft.Extensions.Caching.Abstractions" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Caching.Memory" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyModel" version="2.1.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileProviders.Composite" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileProviders.Embedded" version="2.1.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Hosting.Abstractions" version="2.1.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.Localization" version="2.0.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.Localization.Abstractions" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.ObjectPool" version="2.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Options" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Options.ConfigurationExtensions" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Primitives" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.WebEncoders" version="2.1.1" targetFramework="net472" />
  <package id="Microsoft.Net.Compilers" version="3.0.0" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.Net.Http.Headers" version="2.1.1" targetFramework="net472" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="net472" />
  <package id="Microsoft.Owin" version="4.0.1" targetFramework="net472" />
  <package id="Microsoft.Owin.Cors" version="4.0.1" targetFramework="net472" />
  <package id="Microsoft.Owin.FileSystems" version="4.0.1" targetFramework="net472" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="4.0.1" targetFramework="net472" />
  <package id="Microsoft.Owin.Security" version="4.0.1" targetFramework="net472" />
  <package id="Microsoft.Owin.Security.Cookies" version="4.0.1" targetFramework="net472" />
  <package id="Microsoft.Owin.Security.OAuth" version="4.0.1" targetFramework="net472" />
  <package id="Microsoft.Owin.StaticFiles" version="4.0.1" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Azure.Containers.Tools.Targets" version="1.7.12" targetFramework="net472" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net472" />
  <package id="Microsoft.Win32.Registry" version="4.4.0" targetFramework="net472" />
  <package id="NETStandard.Library" version="2.0.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net472" />
  <package id="Newtonsoft.Json.Bson" version="1.0.1" targetFramework="net472" />
  <package id="NLog" version="4.6.3" targetFramework="net472" />
  <package id="Owin" version="1.0" targetFramework="net472" />
  <package id="Remotion.Linq" version="2.2.0" targetFramework="net472" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net472" />
  <package id="StackExchange.Exceptional-Signed" version="1.0.111" targetFramework="net472" />
  <package id="System.AppContext" version="4.3.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net472" />
  <package id="System.Collections" version="4.3.0" targetFramework="net472" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net472" />
  <package id="System.ComponentModel.Annotations" version="4.5.0" targetFramework="net472" />
  <package id="System.Console" version="4.3.0" targetFramework="net472" />
  <package id="System.Data.SqlClient" version="4.6.0" targetFramework="net472" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net472" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.5.1" targetFramework="net472" />
  <package id="System.Diagnostics.FileVersionInfo" version="4.3.0" targetFramework="net472" />
  <package id="System.Diagnostics.StackTrace" version="4.3.0" targetFramework="net472" />
  <package id="System.Diagnostics.Tools" version="4.3.0" targetFramework="net472" />
  <package id="System.Dynamic.Runtime" version="4.3.0" targetFramework="net472" />
  <package id="System.Globalization" version="4.3.0" targetFramework="net472" />
  <package id="System.Interactive.Async" version="3.2.0" targetFramework="net472" />
  <package id="System.IO" version="4.3.0" targetFramework="net472" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net472" />
  <package id="System.IO.FileSystem" version="4.3.0" targetFramework="net472" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Linq" version="4.3.0" targetFramework="net472" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.3" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Reactive.Core" version="3.1.1" targetFramework="net472" />
  <package id="System.Reactive.Interfaces" version="3.1.1" targetFramework="net472" />
  <package id="System.Reactive.Linq" version="3.1.1" targetFramework="net472" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net472" />
  <package id="System.Reflection.Metadata" version="1.4.2" targetFramework="net472" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.Caching" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net472" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.0.0" targetFramework="net472" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="4.4.0" targetFramework="net472" />
  <package id="System.Security.Claims" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Xml" version="4.4.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="4.4.0" targetFramework="net472" />
  <package id="System.ServiceModel.Primitives" version="4.5.3" targetFramework="net472" />
  <package id="System.Text.Encoding" version="4.3.0" targetFramework="net472" />
  <package id="System.Text.Encoding.CodePages" version="4.3.0" targetFramework="net472" />
  <package id="System.Text.Encoding.Extensions" version="4.3.0" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="4.5.0" targetFramework="net472" />
  <package id="System.Threading" version="4.3.0" targetFramework="net472" />
  <package id="System.Threading.Tasks" version="4.3.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Parallel" version="4.3.0" targetFramework="net472" />
  <package id="System.Threading.Thread" version="4.3.0" targetFramework="net472" />
  <package id="System.Threading.ThreadPool" version="4.3.0" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="System.Xml.ReaderWriter" version="4.3.1" targetFramework="net472" />
  <package id="System.Xml.XDocument" version="4.3.0" targetFramework="net472" />
  <package id="System.Xml.XmlDocument" version="4.3.0" targetFramework="net472" />
  <package id="System.Xml.XPath" version="4.3.0" targetFramework="net472" />
  <package id="System.Xml.XPath.XDocument" version="4.3.0" targetFramework="net472" />
  <package id="XmpCore.StrongName" version="6.1.10" targetFramework="net472" />
</packages>